[Unit]
Description=Shellshock
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill shellshock
ExecStartPre=-/usr/bin/docker rm shellshock
ExecStartPre=-/usr/bin/docker pull sadmin/shellshock
ExecStart=/usr/bin/docker run --rm --name shellshock -p 2222:22 sadmin/shellshock:latest
ExecStartPost=/usr/bin/etcdctl set /service/dns/shocker.argeros.org ${COREOS_PUBLIC_IPV4}
ExecStop=/usr/bin/docker stop shellshock
ExecStopPost=/usr/bin/etcdctl rm /service/dns/shocker.argeros.org
